:root {
    --primary-text-color: #212121;
    --text-color-p: #757575;    
    --white: #FFFFFF;
    --main-background: #E5E5E5;
    --hero-footer-bcg: #2F303A;
    --blue: #2196F3;
    --footer-address: rgba(255, 255, 255, 0.6);
    --bcg-team: #F5F4FA;
    --svg-color: #AFB1B8;

    }

html{
    box-sizing: border-box;    
}
   
*,
*::before,
*::after {
box-sizing: inherit;
}


/* site-nav */
body {
    margin: 0;
    font-family: Roboto, sans-serif;
    line-height: 1.5;
}

h1,
h2, 
h3{
    margin-top: 0;
}
.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.container{
   width: 1200px;
   padding-left: 15px; 
   padding-right: 15px;
   margin-left: auto;
   margin-right: auto;
}

.list{
  list-style: none;  
  margin: 0;
  padding: 0;
}

main{
    background-color: var(--white);
}

li{
    list-style: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}


/*<!-- Хэдэр -->*/
.site-nav {
    background-color: var(--white);
}
.header{
    
    background-color: var(--white);
    border-bottom: 1px solid #ECECEC;
    
}

.header .contact-linc {
    margin-right: 50px;

}
.header .icon-clients {
    margin-right: 10px
}
.header .logo {
    margin-right: 121px;
}

.header-container{
display: flex;
justify-content: flex-end;
align-items: center;

}

.navigation{
    display: flex;
    align-items: center;
    margin-right: auto;
}

.nav-logo {
    color: var(--blue);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    list-style: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
}
.logo-studio{
    color: var(--primary-text-color);
  
}

.site-link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 0.87;
    letter-spacing: 0.02em;
    text-decoration: none;
}
    .site-link:hover,
    .site-link:focus {
    color: var(--blue);

}

.site-link.current{
    color: var(--blue);
    text-decoration: none;
} 

.menu {
   display: inline-flex;
 
}

.menu-item:not(:last-child) {
    margin-right: 50px;

}
.menu-item {
padding-top: 32px;
padding-bottom: -24px;

}
.info{
    color: var(--text-color-p);
    
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
display: flex;
align-items: center;
    
    
  
    padding-bottom: 32px;
}
.info:hover,
.info:focus{
    color: var(--blue);
}
.icon-contacts {
    margin-right: 10px;
}
.menu-item a:hover,
.menu-item a:focus{
    color: var(--blue);
}
/* подчёркивание текущей ссылки.*/
.header .site-link.current::after {
   
    display: block;
    content: '';
    position: absolute;
    height: 4px;
    width: 100%;
    left: 0;
    bottom: 0; 
    margin-top: 24px;
    
position: relative;
         
    background-color: var(--blue);
    border-radius: 2px;
   
} 


/* hero */
.hero {
    background-color: var(--hero-footer-bcg);
    padding-top: 200px;
    padding-bottom: 210px;
    
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.8),
        rgba(0, 0, 0, 0.2)        
        ),
     url('../img/fon_img/fon.jpg');
     
    background-repeat: no-repeat;
 
    height: 600px;
    background-position: center;
    background-size: 100 ;


}

.hero-content {
    max-width: 696px;

}

.hero-title {
    color: var(--white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
   
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
}

.hero .button {
    border: 1px solid var(--blue);
    display: inline-block;
    padding: 10px 32px;
    color: var(--white);
    background-color: var(--blue);
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 30px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border: 0;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero .button :hover,
.hero .button :focus {
    background-color: #188ce8;
}

.section{
    padding-top: 94px;
    padding-bottom: 94px;
    
}



/* details */
.details{
    background-color: var(---white);
    padding-top: 94px;
    padding-bottom: 94px;
}

.details-title{
    color: var(--primary-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.details-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    padding: 0;
    list-style: none;
}

.details-item::before {
    display: block;
    justify-content: center;
    align-items: center;
    content: "";
    height: 120px;
    border-radius: 4px;
    border: 1px solid transparent;
    background-color: var(--bcg-team);
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;

}

.icon-1::before {
    background-image: url(..//img/icons_img/antenna-1.svg);
}
.icon-2::before {
    background-image: url(..//img/icons_img/clock-1.svg);
}
.icon-3::before {
    background-image: url(..//img/icons_img/diagram-1.svg);
}
.icon-4::before {
    background-image: url(..//img/icons_img/astronaut-1.svg );
}

.details-item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-top: 30px;
}

.details-text {
    color: var(--text-color-p); 

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }



/*<!-- Чем занимаемся -->*/
/* occupation */
.occupation {
    background-color: var(---white);
    padding-bottom: 94px;
}
.occupation-title {
    color: var(--primary-text-color);
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}
.occupation-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    padding: 0;
    list-style: none;
}

.occupation-item {
    flex-basis: calc(100% / 3 - 30px);
    border-radius: 4px;
    margin-left: 30px;
    margin-top: 30px;
    text-align: center;
}


.occupation-list .occupation-item {
    position: relative;
}

.occupation .wedo-content {
    position: absolute;
    bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;
  
    width: 100%;
  
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
  
    background-color: rgba(47, 48, 58, 0.8);
    color: #ffffff;
}



/* team */

.team {
    background-color: var(--bcg-team);
    padding-top: 94px;
   
}

.team-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    padding: 0;
    list-style: none;
}

.team-item {
    flex-basis: calc(100% / 4 - 30px);
    text-align: center;
    margin-left: 30px;
    margin-top: 30px;
    width: 270px;
   border: 1px solid #EEEEEE;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-content {
    background-color:  #FFFFFF;
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-names{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
  
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.team-text{
    color: var(--text-color-p);
    margin: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18 
}
    
.social-icons-svg {
    width: 20px;
    height: 20px;
    list-style: none;
    fill: var(--svg-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-icons-footer-svg {
    width: 20px;
    height: 20px;
    list-style: none;
    fill: var(--white);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-icons {
    display: flex;
    list-style: none;
    padding-top: 0;
    padding-left: 32px;
    padding-right: 32px;
    margin-block-start: 1em;
    margin-block-end: 1em;
  }
  .social-icons-footer {
    display: flex;
    list-style: none;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .social-icons-item:not(:last-child) {
    margin-right: 10px;
  }
  .social-icons-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: var(--white);
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-icons-link-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-icons-link:hover .social-icons-svg,
  .social-icons-link:focus .social-icons-svg {
    fill: var(--white);
  }
  .social-icons-link:hover,
  .social-icons-link:focus {
    background-color: var(--blue);
  }
  
  .social-icons-link-footer:hover .social-icons-footer-svg,
  .social-icons-link-footer:focus .social-icons-footer-svg {
    fill: var(--white);
  }
  .social-icons-link-footer:hover,
  .social-icons-link-footer:focus {
    background-color: var(--blue);
}

 /*<!-- Постоянные клиенты -->*/ 
        /*  clients */ 
.clients-bgc {
    background-color: var(--white);        
}
.clients {
    padding-bottom: 94px;
    padding-top: 94px;
}
.clients-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17em;
    letter-spacing: 0.03em;
    color: var(--black);
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;            
}
.clients-logo {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
.icon-item:not(:last-child) {
    margin-right: 30px;
}
.icon-link:last-child {
    margin-right: 0;
}
.icon-link {
    display: flex;
    color: #afb1b8;
    width: 170px;
    height: 90px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}
.icon-clients {
    fill: currentColor;
}
.icon-link:hover .icon-clients,
.icon-link:focus .icon-clients {
    fill: var(--blue);
}
.icon-link:hover,
.icon-link:focus {
    background-color: var(--white);
    border: 1px solid #2196f3;
}          
         

  /* Portfolio */
/* Фильтры */
.filter {
    background-color: var(---white);
    padding-top: 94px;
    padding-bottom: 56px;
}

.filter-item:not(:last-child) {
    margin-right: 8px;
}
    
.filter-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.link-filter {
    display: inline-block;
    min-width: 73px;
    color: var(--primary-text-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62; 
    text-align: center;
    letter-spacing: 0.03em;
    padding-right: 22px;
    padding-left: 22px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 4px;
    text-align: center;
    border: none;
    font-family: "Roboto";
    letter-spacing: 0.03em;
    color: var(--black);
    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter .link-filter:hover,
.link-filterk:focus {
    background: var(--blue);
    color: var(--white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}


/* Offer */

.Offer {
    background-color: var(---white);
}
.offer-container{
 padding-bottom: 94px;
}
.offer-title {
    color: var(--primary-text-color);
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.offer-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    padding: 0;
    list-style: none;

    padding-left: 0;
    margin-top: 0px;
    margin-bottom: 0;
}

.offer-item {
    flex-basis: calc(100% / 3- 30px);
    margin-left: 30px;
    margin-top: 30px;
    width: 370px;
    border-radius: 0px 0px 4px 4px;
}

.offer-content {
    background-color:  #FFFFFF;
    padding: 20px 24px;

}

.offer-text {
    color: var(--text-color-p);
    margin: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
}

.offer .link {
    display: block;
    background: var(--white);
    border: 1px solid #eeeeee;
    text-decoration: none;
    padding-bottom: 20px;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
.offer .link:hover,
.offer .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.offer-overlay {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.offer-overlay::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  
    background: rgba(33, 150, 243, 0.9);
    opacity: 0;
  
    transition-property: opacity, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
}
.offer .link:hover .offer-overlay::before,
.offer .link:focus .offer-overlay::before {
    opacity: 1;
    transform: translateY(0);
}
  
.offer-overlay > .description {
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 24px;
    padding-left: 24px;
    font-size: 18px;
    line-height: 1.555;
    color: #ffffff;
    opacity: 0;
    transition-property: opacity, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
}
  
.offer .link:hover .description,
.offer .link:focus .description {
    opacity: 1;
    transform: translateY(0);
}
  

/* footer */
.footer {
    background-color: var(--hero-footer-bcg);
    padding-top: 60px;
    padding-bottom: 60px;
    
}
.footer-logo {
    color: var(--blue);

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    list-style: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.footer-span {
    color: var(--white);
}   

.f-address {
    color: var(--white);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin: 0;
    margin-top: 20px;
}
.footer-list .item:not(:last-child){
    margin-bottom: 9px;
}

.f-address:hover,
.f-address:focus {
    color: var(--blue);
    text-decoration: none;
}

.footer-info {
    color: var(--footer-address);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71
    letter-spacing: 0.03em;
    text-decoration: none;
}

.footer-info:hover,
.footer-info:focus {
    color: var(--blue);
}
.footer-content {
    display: flex;
}
.footer-social {
    margin-left: 70px;
    padding-top: 12px;
}
.text-connect {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
    padding: 0;
    margin: 0;
}

/* footer-form */

.footer-form {
    display: flex;
    align-items: flex-end;
}
.footer-mai-input {
    display: flex;
    flex-direction: column;
}
.footer-mai-input .helper::placeholder {
    color: rgba(255, 255, 255, 0.6);
}
.footer-mai-input label {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    text-transform: uppercase;
    color: #ffffff;
}
.footer-mai-input input {
    margin-top: 20px;
    padding-top: 15px;
    padding-right: 16px;
    padding-bottom: 15px;
    padding-left: 16px;
    width: 358px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
}
.footer-form-container {
    padding-top: 14px;
    margin-left: 93px;
}
 
.footer-form-container button {
    margin-left: 12px;
    padding-top: 10px;
    padding-right: 28px;
    padding-bottom: 10px;
    padding-left: 29px;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: #ffffff;
    background-color: var(--blue);
    border: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.footer-form-icon {
    margin-left: 10px;
    fill: var(--white);
}
 
/* modal */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.modal {
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
  
    width: 528px;
    height: 581px;
  
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop .is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}
.modal .modal-button {
    position: absolute;
    right: 8px;
    top: 8px;
    padding: 5px;
  
    width: 30px;
    height: 30px;
  
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus {
    fill: var(--blue);
}
.modal-content {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.modal-content .title {
    margin-top: 0;
    margin-bottom: 12px;
  
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--primary-text-color);
}
.modal-content-label {
    position: relative;
    display: block;
  
    font-weight: 400;
    font-size: 12px;
    line-height: 1.166;
    letter-spacing: 0.01em;
    color: var(--text-color-p);
}
.modal-content-label:nth-child(n + 3) {
    margin-top: 10px;
}
.modal-content-imput {
    margin-top: 4px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 35px;
    display: block;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 100%;
    resize: none;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
  
.modal-content-imput:focus,
.modal-content-imput:hover {
    border: 1px solid var(--blue);
}
.modal-content-imput:focus ~ .modal-content-icon,
.modal-content-imput:hover ~ .modal-content-icon {
    fill: var(--blue);
}
.modal-content-imput.coments {
    padding-left: 16px;
    height: 120px;
}
.modal-content-imput.coments::placeholder {
    color: rgba(117, 117, 117, 0.5);
}
.modal-content-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-content-check  {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
  
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    color: var(--text-color-p);
    justify-content: center;
    letter-spacing: 0.03em;
        
}
.input-check-castom {
    margin-right: 7px;
    width: 16px;
    height: 15px;
    border: 1px solid #212121;
    border-radius: 4px;
    fill: #ffffff;
    background-color: #ffffff;
    transition-property: background-color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.input-check-castom svg {
    display: block;
}
.modal-input-check:checked ~ .input-check-castom {
    background-color: var(--blue);
    border-color: var(--blue);
}
.modal-content-check .link {
    margin-left: 4px;
    color: var(--blue);
}
.modal-content-button {
    display: block;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-right: 55px;
    padding-bottom: 10px;
    padding-left: 56px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: #ffffff;
    background-color: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-content-button:hover,
.modal-content-button:focus {
    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
   
